
<footer class="uk-width-1-1 uk-text-center uk-clearfix shade3">
	<div class="uk-panel uk-panel-space uk-margin-large-top" itemscope itemtype="http://schema.org/Organization" data-margin>
		<a href="https://www.twitter.com/grayknightsec" title="" target="_blank" rel="nofollow" class="uk-animation-hover uk-margin-right" itemprop="sameAs"><span class="uk-hidden">Twitter</span><i class="uk-icon-twitter uk-icon-medium uk-animation-reverse uk-animation-scale"></i></a>
		<a href="https://www.github.com/grayknightsecurity" title="" target="_blank" rel="nofollow" class="uk-animation-hover uk-margin-right" itemprop="sameAs"><span class="uk-hidden">Github</span><i class="uk-icon-github uk-icon-medium uk-animation-reverse uk-animation-scale"></i></a>

		<a href="mailto:admin@grayknightsecurity" title="" target="_blank" rel="nofollow" class="uk-animation-hover uk-margin-right" itemprop="sameAs"><span class="uk-hidden">Email</span><i class="uk-icon-envelope-o uk-icon-medium uk-animation-reverse uk-animation-scale"></i></a>
		<a href="http://www.grayknightsecurity.com/rss" title="" target="_blank" rel="nofollow" class="uk-animation-hover uk-margin-right" itemprop="sameAs"><span class="uk-hidden">RSS</span><i class="uk-icon-rss-square uk-icon-medium uk-animation-reverse uk-animation-scale"></i></a>

	</div>  

<div class="uk-panel uk-margin-space uk-margin-small uk-text-small uk-text-muted">
	<div class="uk-clearfix">&copy; {{date format="YYYY"}} - {{@blog.title}}</div>
	<div class="uk-clearfix uk-margin-small"><a href="http://haeckdesign.com/" title="Haeck Design | Raleigh, NC" target="_blank" class="uk-text-muted">Haeck Design</a> &amp; <a href="https://ghost.org/" title="Ghost | Ghost.org" target="_blank" class="uk-text-muted">Ghost</a></div>
	<div class="uk-clearfix"><a href="/sitemap.xml" title="Sitemap" target="_blank" class="uk-text-muted">Sitemap</a></div>
</div>

	<a class="uk-panel uk-margin-small uk-text-center uk-text-muted uk-animation-hover" title="Top" data-uk-smooth-scroll href="#"><i class="uk-icon-caret-up uk-icon-large uk-animation-reverse uk-animation-scale"></i></a>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79008505-1', 'auto');
  ga('send', 'pageview');

</script>
</footer>
